<p>@computed('obj.count'): {{this.computedCount}}</p>
<button {{on "click" this.incrementDirectly}}>this.obj.count++</button>
<button {{on "click" this.incrementViaSet}}>set(this, 'obj.count', this.obj.count + 1)</button>
