{{page-title "EmberTrackedDemo"}}


<h2>nested @tracked</h2>
<SimpleTrackedCounter />

<h2>@computed + nested @tracked</h2>
<ComputedTrackedCounter />

<h2>TrackedObject</h2>
<TrackedObjectCounter />

<h2>@computed + TrackedObject</h2>
<ComputedTrackedObjectCounter />

{{outlet}}